# test Results

Command: npm test --if-present


> sfpcl-lms@1.0.0 test
> vitest run

sh: vitest: command not found
